* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Open Sans', 'Lato', sans-serif;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

.text-right {
  text-align: right;
}

.main {
  max-width: 800px;
  margin: 50px auto 0;
}

.header {
  background-color: brown;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  font-weight: bold;
  font-size: 30px;
}

nav {
  font-size: 20px;
  color: whitesmoke;
}

.menu {
  display: flex;
}

.menu-item+li {
  margin-left: 40px;
}




.card {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;
  padding-bottom: 20px;
  overflow: hidden;
}

.card__wrapper {}

.card__wrapper--title {
  font-size: 20px;
  margin-top: 20px;
}

.card__wrapper--address {
  margin: 15px 0;
}

.card__wrapper--button {
  margin-top: 20px;
}






.form {
  padding: 20px;
  text-align: left;
}

.form-group {
  margin-bottom: 15px;

}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}

textarea,
input {
  display: block;
  padding: 6px 12px;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

textarea {
  min-height: 100px;
}

input[type='submit'] {
  width: auto;
  display: inline-block;
  cursor: pointer;
}

button {
  background-color: transparent;
  border: 1px solid darkred;
  padding: 10px 24px;
  border-radius: 6px;
  color: darkred;
  font-weight: 500;
  cursor: pointer;
}